@import url(../webfonts/aller/stylesheet.css);
@import url(../webfonts/marketing-script/stylesheet.css);

body {
  font:0.875em/1.5 allerregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background:transparent url(../images/bgr-body.gif) fixed center top;
  -webkit-text-size-adjust: none;
  color:#313131;
}

*, *:before, *:after {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}


h1, h2, h3, h4, h5, h6 {
  color:#313131;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size: 2em;
  font-family:'marketing_scriptregular';
  background-position: ;
  background:transparent url(../images/logo.png) no-repeat scroll left center;
  padding: 10px 0 10px 115px;
  color:#fff;
  font-weight:100;
  margin:0 0 50px;
}

h1 + p {
  /* display: block;
  font-family: 'allerregular',sans-serif;
  font-size: 0.786em;
  color:#fff; */
}

a {
  color:#313131;
  text-decoration:none;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

img {
  max-width:100%;
  width:auto;
  height:auto;
}

#wrapper {
  padding:50px;
}

#container {
  width:960px;
  margin:0 auto;
  overflow:hidden;
}

section {
  width:680px;
  float:right;
  padding-top:15px;
}

aside {
  position:fixed;
  width:250px;
  text-shadow: 1px 1px 0 #65ACCF;
  color:#fff;
}

@media print, screen and (max-width: 960px) {}

@media print, screen and (max-width: 720px) {

  body {
    word-wrap:break-word;
  }
  
  pre, code {
    word-wrap:normal;
  }

}

@media print, screen and (max-width: 480px) {}

@media print {}